
<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->
   <!-- <p>
    <mat-toolbar class="toolbar">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SHAFA</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="showShelf()" class="example-icon" >
      <mat-icon>Shelves</mat-icon>
    </button>
    <button mat-icon-button (click)="showOutfit()" class="example-icon">
     <mat-icon>Outfits</mat-icon>
   </button>
   <button mat-icon-button (click)="showStuff()" class="example-icon">
    <mat-icon>Stuffs</mat-icon>
  </button>
  </mat-toolbar>
  </p>  
  <!-- <div class="content">
    <app-shelf *ngIf="selectedComponent === 'shelf'"></app-shelf>
    <app-outfit-builder *ngIf="selectedComponent === 'outfit'"></app-outfit-builder>
    <app-stuff *ngIf="selectedComponent === 'stuff'"></app-stuff>
    <app-shared-shelf *ngIf="selectedComponent === 'sharedShelf'"></app-shared-shelf>
    <app-label *ngIf="selectedComponent === 'label'"></app-label>
  </div> -->
   -->