<div class="container">
    <div class="json-view">
        <mat-card class="scrollable-card">
                <div *ngFor="let stuff of stuffs">
                    <button matRipple class="btn-list">
                        <div class="server-response">
                            <mat-card-title>{{ stuff.name }}</mat-card-title>
                            <mat-card-subtitle>Owner: {{ stuff.user.userName }} - {{ stuff.user.email }}</mat-card-subtitle>
                            <mat-card-subtitle>Shelf: {{ stuff.shelf.name }}</mat-card-subtitle>
                            <mat-card-subtitle *ngIf="stuff.label !== null">Label: {{ stuff.label?.description }}</mat-card-subtitle>
                        </div>
                    </button>
                </div>
        </mat-card>
    </div>
</div>