<div class="container">
  <div class="card-container">
    <mat-card>
      <div class="form-row">
        <button (click)="ngOnInit()" class="custom-btn btn-11">View</button>

        <input matInput type="text" [(ngModel)]="stuffName" placeholder="Name">
        <mat-select [formControl]="stuffForm" placeholder="Shelves" [(ngModel)]="shelfId">
          <mat-option *ngFor="let shelf of shelves" [value]="shelf.id">
            {{ shelf.name }}
            ({{ shelf.category.name }})
          </mat-option>
        </mat-select>
        <input type="file" (change)="onFileSelected($event)">
        <button (click)="createStuff(selectedStuff)" class="custom-btn btn-11">Create</button>
        <button (click)="updateStuff()" class="custom-btn btn-11">Edit</button>
        <button (click)="deleteStuff()" class="custom-btn btn-11">Delete</button>
      </div>
      <div class="label-editor" *ngIf="selectedStuff?.label">
        <input matInput type="text" [(ngModel)]="selectedStuff.label!.description" placeholder="Description">
        <input matInput type="text" [(ngModel)]="selectedStuff.label!.texture" placeholder="Texture">
        <input matInput type="text" [(ngModel)]="selectedStuff.label!.color" placeholder="Color">
        <input matInput type="text" [(ngModel)]="selectedStuff.label!.size" placeholder="Size">
        <input matInput type="text" [(ngModel)]="selectedStuff.label!.brand" placeholder="Brand">
        <button (click)="updateLabel()" class="custom-btn btn-11">Update</button>
        <button (click)="deleteLabel()" class="custom-btn btn-11">Delete</button>
      </div>
      <div class="label-editor" *ngIf="!selectedStuff?.label">
        <input matInput type="text" [(ngModel)]="newLDescription" placeholder="Description">
        <input matInput type="text" [(ngModel)]="newTexture" placeholder="Texture">
        <input matInput type="text" [(ngModel)]="newColor" placeholder="Color">
        <input matInput type="text" [(ngModel)]="newSize" placeholder="Size">
        <input matInput type="text" [(ngModel)]="newBrand" placeholder="Brand">
        <button (click)="createLabel()" class="custom-btn btn-11">Create</button>
      </div>
    </mat-card>
  </div>

  <div class="json-view">
    <mat-card class="scrollable-card">
      <div class="button-matrix">
        <div *ngFor="let stuff of stuffs" class="button-row">
          <button matRipple matTooltip="
    Stuff: {{ stuff.name }} ★︎ 
    Owner: {{ stuff.user.userName }} ★︎ 
    {{stuff.label?.description}}
    Shelf: {{ stuff.shelf.name }} ★︎ 
    {{stuff.label?.texture}}
    {{stuff.label?.color}}
    {{stuff.label?.size}}
    {{stuff.label?.brand}}" class="btn-list" (click)="setStuffId(stuff)">
            <div *ngIf="stuff.img">
              <img [src]="'https://localhost:443/' + stuff.img">
            </div>
          </button>
        </div>
      </div>
    </mat-card>
  </div>