<div>
    <mat-card class="registration-form">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >

      <mat-card-header>
        <mat-card-title class="welcome-text">Welcome to <span>SHAFA!</span></mat-card-title>
        <br>
      </mat-card-header>
  
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="userName" placeholder="Enter your username">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Role ID</mat-label>
          <input matInput formControlName="roleId" placeholder="Enter your role ID">
        </mat-form-field>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" 
        [disabled]="registrationForm.invalid">OK!</button>
      </mat-card-actions>
      <span (click)="goToLogin()">Back to Login?</span>
    </form>
    </mat-card>
  </div>