<div class="container">
  <div class="card-container">
    <mat-card>
      <div class="form-row">
        <button (click)="ngOnInit()" class="custom-btn btn-11">View</button>
        <input matInput type="text" [(ngModel)]="outfitName" placeholder="Name">
        <mat-select [formControl]="outfitsForm" multiple placeholder="Stuffs" [(ngModel)]="selectedStuffIds">
          <mat-select-trigger>
            {{ outfitsForm.value?.[0] || '' }}
            <span *ngIf="(outfitsForm.value?.length || 0) > 1" class="example-additional-selection">
              (+{{ (outfitsForm.value?.length || 0) - 1 }} {{ outfitsForm.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let stuff of stuffs" [value]="stuff.id">
            {{ stuff.name }}
          </mat-option>
        </mat-select>
        <button (click)="createOutfit()" class="custom-btn btn-11">Create</button>
        <!-- <button (click)="updateOutfit()" class="custom-btn btn-11">Edit</button> -->
        <!-- <button (click)="deleteOutfit()" class="custom-btn btn-11">Delete</button> -->
      </div>
    </mat-card>
  </div>
  <div class="json-view">
    <mat-card class="scrollable-card">
      <div *ngFor="let outfit of outfits">
        <!-- (click)="showOutfitStuff(outfit)" -->
        <button matRipple class="btn-list" >
          <div class="server-response">
            <mat-card-title>{{ outfit.name }}</mat-card-title>
            <mat-card-subtitle>
              <!-- <div *ngFor="let stuff of outfit.stuffs">
                {{ stuff.name }}
                <img [src]="'http://localhost:3000/' + stuff.stuffId.img">
              </div> -->
              <!-- <div *ngFor="let outfit of outfits"> -->
                  <div *ngFor="let stuff of getOutfitStuff(outfit)">
                    <p>{{ stuff.name }}</p>
                    <img [src]="'http://localhost:3000/' + stuff.img" alt="Stuff Image">
                  </div>          
                
              <!-- </div> -->
            </mat-card-subtitle>
          </div>
        </button>
      </div>
    </mat-card>
  </div>
  
</div>
