<mat-toolbar>
    <span class="text-logo">Your personal Shafa ☆</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" class="btn-11">✉</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="chat()">Chat</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>  

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="full-width-label">Shelves</span>
      </ng-template>
      <app-shelf></app-shelf>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="full-width-label">Stuffs</span>
      </ng-template>
      <app-stuff></app-stuff>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="full-width-label">Outfits</span>
      </ng-template>
      <app-outfit-builder></app-outfit-builder> 
    </mat-tab>
  </mat-tab-group>
  