<mat-toolbar>
    <span class="text-logo">SHAFA</span>
    <span class="example-spacer"></span>
      <mat-icon class="icon-user">profile</mat-icon>
  </mat-toolbar>  
<div>
    <mat-tab-group>
        <mat-tab label="Shelves">
          <app-shelf></app-shelf> <!-- Здесь добавьте компонент для отображения полок -->
        </mat-tab>
        <mat-tab label="Stuffs">
          <app-stuff></app-stuff> <!-- Здесь добавьте компонент для отображения вещей -->
        </mat-tab>
        <mat-tab label="Outfits">
          <app-outfit-builder></app-outfit-builder> <!-- Здесь добавьте компонент для отображения образов -->
        </mat-tab>
      </mat-tab-group>
      
</div>