
<div class="card-container">
<mat-card>
<div class="shelf-container" *ngFor="let shelf of shelves">
  
  <h3>{{ shelf.id }}</h3>
  <h3>{{ shelf.name }}</h3>
  <p>Category: {{ shelf.categoryId }}</p>
  <p>User: {{ shelf.userId }}</p>
  
</div>

<div class="shelf-form">
  <mat-form-field class="example-full-width">
  <button (click)="getAllShelves()" class="custom-btn btn-11">View</button>
  <input type="text" [(ngModel)]="newShelfName" placeholder="Shelf Name">
  <input type="text" [(ngModel)]="newShelfUserId" placeholder="User ID">
  <input type="text" [(ngModel)]="newShelfCategoryId" placeholder="Category ID">
  <button (click)="createShelf()" class="custom-btn btn-11">Create</button>
  <input type="text" [(ngModel)]="newId" placeholder="Shelf Id">
  <input type="text" [(ngModel)]="newShelfName" placeholder="Shelf Name">
  <input type="text" [(ngModel)]="newShelfUserId" placeholder="User ID">
  <input type="text" [(ngModel)]="newShelfCategoryId" placeholder="Category ID">
  <button (click)="updateShelf()" class="custom-btn btn-11">Edit</button>
  <input type="text" [(ngModel)]="newId" placeholder="Shelf Id">
  <button (click)="deleteShelf()" class="custom-btn btn-11">Delete</button>
  <input type="text" [(ngModel)]="newId" placeholder="Shelf Id">
  <input type="text" [(ngModel)]="newShelfUserId" placeholder="User ID">
  <button (click)="sharedAccess()" class="custom-btn btn-11">Share</button>
</mat-form-field>
</div>
</mat-card>
</div>