<div class="login-form">
  <mat-card>
    <mat-card-header>
      <h2 class="welcome-text">Oh, hello! Сome quickly to <span>SHAFA!</span> </h2>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Enter your email" class="custom-input">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter your password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">OK!</button>
        <label>The new guy? <span (click)="goToLogin()">Register</span></label>
      </form>
    </mat-card-content>
  </mat-card>
  <label class="chat-text">But you can chat without registration!</label>
  <button (click)="chat()" class="chat">SHAFA-CHAT</button>
</div>
